@import url("https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&family=Montserrat:wght@300;700&display=swap");

* {
  padding: 0px;
  margin: 0px;
}

.content {
  background-color: black;
  font-family: "Montserrat", sans-serif;
  color: #c0c0c0;

  background-image: url("images/commbg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.content h1 {
  font-weight: 900;
  background: linear-gradient(109.6deg,
      rgba(156, 252, 248, 1) 11.2%,
      rgba(110, 123, 251, 1) 91.1%);
  background-clip: text;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.why,
.about,
.thwit,
.thub,
.getReady {
  min-height: 100vh;
}

.about h1,
.thwit h1,
.thub h1 {
  padding-top: 15%;

}

.about p,
.thwit p,
.thub p {
  margin-top: 10vh;
  font-size: 1.5rem;
  line-height: 50px;
}

.why h1 {
  padding-top: 5%;
}

.why p {
  margin-top: 7vh;
  font-size: 1.4rem;
  line-height: 50px;
}

.getReady {
  display: flex;

  align-items: center;
  justify-content: center;
  background-image: url("images/getReady.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
}

.getReady div {
  font-size: 5rem;

  text-align: center;
  color: white;
  font-weight: 900;
  line-height:100px;
  padding-left: 15%;
  padding-right: 15%;
}

footer {
  text-align: left;
  background: linear-gradient(109.6deg,
      rgba(156, 252, 248, 1) 11.2%,
      rgba(110, 123, 251, 1) 91.1%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav {
  background-color: black;
}

.list {
  margin-right: 3vw;
  margin-left: 3vw;
  margin-top: 1vh;
  font-size: 4vh;
  opacity: 0.7;
  font-weight: 700;
  cursor: pointer;
}

.list a {
  text-decoration: none;
  color: #ffffff;
}

.list:hover {
  opacity: 1;
}

ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .content {
    background-image: url("images/mobbg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  .about p,
.thwit p,
.thub p {
  margin-top: 10vh;
  font-size: 1rem;
  line-height: 40px;
}
.why p{
  font-size: 1rem;
  line-height: 40px;
}
.why h1{
  margin-top: 5vh;
}
.getReady div{
  padding: 10px;
  font-size: 3rem;
}

}