@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&family=Montserrat:wght@300;700&display=swap'); 
*{
    padding: 0px;
    margin: 0px;
}

.content{
    background-color: black;
    font-family: "Montserrat", sans-serif;
   color: #c0c0c0;
}

.image{
    background-image: url("https://lh3.googleusercontent.com/pw/AM-JKLUX-DkqSfnH70AhTB0Zwul_iak-8kFATU8ru94YzOxAec11pKNdMFGcWhfMKAYfuJUbe_gYdcLWw5v-BitTp8vSErK-6ME-vULAg3oV0bMrokbtAU27w89rpnO_CZ91ybQDIQJ6it-sBEog7YJ0FSvI=w708-h943-no?authuser=0");
    background-repeat: no-repeat;
    height:90vh;

}

.rowOne{
    border-right: 1px solid #c6ffdd ;
    border-top: 1px solid #c6ffdd ;
    padding-top:5vh;
    padding-right:5vh;
  
}

.content hr{
    background-color: #c6ffdd ;
    
}

.content p{
    font-size:1.1rem;
    
}
.content h1{
    font-weight: 900;
    background: linear-gradient(109.6deg, rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1% );
    background-clip: text;
    
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content h3{
    color:  #8ddad5;
}
.theme{
    padding:9vh;
    padding-top:0%;
    margin-top:10vh;
    border-left: 1px solid #c6ffdd ;
}
