@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&family=Montserrat:wght@300;700&display=swap'); 
*{
    padding: 0px;
    margin: 0px;
}

.content{
    background-color: black;
    font-family: "Montserrat", sans-serif;
   color: #c0c0c0;
}
.borderFluor{
    border: 2px solid  #fceabb;
    padding:7px;
}
.image{
    background-image: url("images/conf.jpg");
    background-repeat: no-repeat;
    height:90vh;

}


.rowOne{
    border-right: 1px solid  #fceabb ;
    border-top: 1px solid  #fceabb ;
    padding-top:5vh;
    padding-right:5vh;
  
}

.content hr{
    background-color:  #fceabb;
    color:  #fceabb;
    
}

.content p,.content1 p,.content2 p{
    font-size:1.1rem;
    
}
.content h1,.content1 h1,.content2 h1{
    font-weight: 900;
    background: linear-gradient(109.6deg, rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1% );
    background-clip: text;
    
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content h3{
    color:  #8ddad5;
}
.theme{
    padding:9vh;
    padding-top:0%;
    margin-top:10vh;
    border-left: 1px solid  #fceabb ;
}


.tinkerhub{
    margin-top: 7vh;
}
.tinkerbg{
    background-image: url("images/conf1.jpg");
    background-repeat: no-repeat;
    height:50vh;

    background-position: center;
}
.content1{
    padding: 9vh;
    border-left: 1px solid  #fceabb ;
    border-top: 1px solid  #fceabb ;
}

.content2{
    padding: 9vh;

    border-right: 1px solid  #fceabb ;
    border-bottom: 1px solid  #fceabb ;
}