
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
}



body{
    font-family: 'Montserrat', sans-serif;
    
}

body, .column h1 ,.column h2, .column h4{
    color: white;
}


.column span{
    color: white;
    font-weight: bold;
}

header{
    min-height:100vh;
    width:100vw;
    background-image: url("images/mainbg.png"), linear-gradient(to right,rgba(31, 24, 84, 0.8),rgba(1,1,0,0.8));
    background-blend-mode: overlay;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.logo {
 width: 20%;
  
    
}


.header-c {
  display: flex;
    padding-top: 0;
    text-align: center;
    margin-top: 5vh;
    justify-content: center;

}
.header-c h1, h2{
    font-size: 3rem;
    font-weight: 600;
    color: white;
 
    
}
.header-c h1{
    font-weight: bolder;
    font-weight: 800;
    font-size: 8rem;
    margin-top: 5vh;
    text-shadow: 2px 2px 5px white;
    
}


.code h2{
    text-align: center;
    font-size: 2rem;
    letter-spacing: 3px;
    color: white;
    margin-top: 15vh;

   

}


@media(max-width:991px){
    header{
        left: 0;
       
    }
   
    .header-c h1, .header-c h2{
       
        font-size: 3rem;
    }
    .header-c h2{
        font-size: 2rem;

    }

    header.toggle{
        left: 0;
    }
    body{
        padding: 0;
    }
    .logo {
     
        width: 30%;
    }
    .code h2{
        transform: none;
        font-size:1.5rem;
        margin-right:5vw;
        text-align: center;
        margin-bottom:0%;
    }
}


/* Sidebar  */
