
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
}



body{
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    
    
}

body, .column h1 ,.column h2, .column h4{
    color: white;
}


.column span{
    color: white;
    font-weight: bold;
}

header{
    min-height:100vh;
    background-image: url("images/logo1.png"), linear-gradient(rgba(0, 0, 0, 0.92),rgba(1,1,0,0.92));
    background-blend-mode: overlay;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.logo {
    width: 25%;
    position: relative;
    margin:0 auto;
    
}

.row{
    display:flex;
    align-items: center;
    display: grid;
    
}
.column{
    display:block;
    align-items: center;
    padding-top: 0.5rem;
    display: grid;
    

}


.header-c {
  display: flex;
    padding-top: 0;
    text-align: center;
    justify-content: center;

}
.header-c h2,h1{
    font-size: 4rem;
    font-weight: 700;
    background-image: url("https://c.tenor.com/RvVdpseP4HUAAAAM/andrea-kids.gif");
    /* background-image: url("https://c.tenor.com/qvhUUmJ4qtEAAAAS/fire-flames.gif"); */
    background-size: cover;
    background-clip: text;
    background-position: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    
}
.header-c h1{
    font-weight: bolder;
    font-size: 8rem;
}


.code h2{
    text-align: center;
    font-size: 2rem;
    letter-spacing: 3px;
    margin-bottom: 10vh;
    background-image: url("https://c.tenor.com/RvVdpseP4HUAAAAM/andrea-kids.gif");
    /* background-image: url("https://c.tenor.com/qvhUUmJ4qtEAAAAS/fire-flames.gif"); */
    background-size: cover;
    background-clip: text;
    background-position: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


@media(max-width:991px){
    header{
        left: 0;
       
    }
   
    .header-c h1, .header-c h2{
       
        font-size: 3rem;
    }
    

    header.toggle{
        left: 0;
    }
    body{
        padding: 0;
    }
    .logo {
        margin-top: 15vh;
        width: 50%;
    }
    .code h2{
        transform: none;
        font-size:1.5rem;
        margin-right:5vw;
        text-align: center;
        margin-bottom:0%;
    }
}








    

