@import url("https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&family=Montserrat:wght@300;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  font-family: "Montserrat", sans-serif;
}
.team {
  padding-top: 10vh;
  background-color: #000;
  /* background-image: linear-gradient(to right, #303030 0%, black 100%); */
  color: wheat;
  padding-bottom: 10vh;
}
.team h1 {
  background-image: linear-gradient(120deg, #d4fc79 0%, #86e993 100%);
  font-weight: bold;
  font-size: 4rem;
  background-clip: text;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.team h2 {
  margin-top: 20vh;
  font-size: 1.9rem;
  text-align: center;
  background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
  background-clip: text;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 3px;
}
.intern {
  margin-top: 5vh;
}
.team hr {
  margin-bottom: 10vh;
  width: 60%;
  margin-left: 20%;
}
.team h3 {
  margin-top: 10px;
  margin-bottom: 5px;
  background-image: linear-gradient(-20deg, #00cdac 0%, #8ddad5 100%);
  background-clip: text;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.team h5 {
  letter-spacing: 4px;
  background-image: linear-gradient(to right, #ff6e7f, #bfe9ff);
  background-clip: text;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.team h6 {
  margin-top: 3px;
  margin-bottom: 5px;
}

.team p {
  font-size: 14px;
  line-height: 21px;
}

.card-container {
  border-radius: 10px;
  padding-top: 20px;
  position: relative;
  width: 100%;
  max-width: 100%;
  text-align: center;
  border-top: 1px solid rgba(156, 252, 248, 1);
  border-bottom: 1px solid rgba(156, 252, 248, 1);
}
.card-container .round {
  border: 1px solid #c0c0c0;
  border-radius: 50%;
  height:25vh;
  width:25vh;
}
.fa {
  padding: 5px;
  text-align: left;
  margin: 5px 8px;
  font-size: 20px;
  width: 20px;
}
.fa-twitter {
  margin-left: 20px;
}
button.primary {
  background-color: #03bfcb;
  border: 1px solid #03bfcb;
  border-radius: 3px;
  color: #231e39;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  padding: 10px 25px;
}

button.primary.ghost {
  background-color: transparent;
  color: #02899c;
}

.skills {
  background-color: #1f1a36;
  text-align: left;
  padding: 15px;
  margin-top: 30px;
}

.skills ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.skills ul li {
  border: 1px solid #2d2747;
  border-radius: 2px;
  display: inline-block;
  font-size: 12px;
  margin: 0 7px 7px 0;
  padding: 7px;
}

@media screen and (max-width: 768px) {
  .card-container {
    margin-top: 2vh;
  }
}
